@use "../base/variables" as var;

.container {
  width: 100%; // mobile-first default
  padding-inline: var.$space-2;
  max-width: var.$max-width;
  margin-inline: auto;

  @media (min-width: var.$bp-md) {
    padding-inline: var.$space-3; // bigger padding on desktop
  }

  @media (min-width: var.$bp-xl) {
    padding-inline: var.$container-padding; // even bigger padding on large screens
  }
}
