@use "../base/variables" as var;

.section {
  padding-block: var.$section-padding-mobile;

  @media (min-width: var.$bp-md) {
    padding-block: calc(var.$section-padding-desktop);
  }
  @media (min-width: var.$bp-xl) {
    padding-block: calc(var.$section-padding-xl);
  }
}
