@use "variables" as var;

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.6rem; // 16px body text
  line-height: 1.6;
  color: #111;
}

h1 {
  font-size: var.$font-scale-4;
  line-height: 1.2;
}

h2 {
  font-size: var.$font-scale-3;
  line-height: 1.3;
}

p {
  font-size: var.$font-scale-1;
  max-width: 65ch;
}
